{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>
  <body>
    <div nav-bar>
      <div logo>
        <img src=""/>
      </div>
      <div nav-bar-items>
        <p class="button">Logout</p>
        <p class="button">Login</p>
      </div>

    </div>
    <div main-container>
        {% block content %}{% endblock %}
        <section footer>
          <footer>
            ©2019 Emmanuel, Inc.
          </footer>
        </section>
    </div>
    <script type="text/javascript" src="{% static 'index.js' %}"></script>
  </body>
</html>