{% extends 'base.html' %}
{% block title %} Employee and Asset Management {% endblock %}
{% load static %}
{% block content %}


<div profile-container>
    <div admin-nav>
        <div profile-picture>
            <img src="/static/desktop.jpg"/>
        </div>
        <div class="user-info">
            <div class="u-info">
                <p class="u-info-item">{{ user.email }}</p>
                <p class="u-info-item">{{user.first_name}} {{user.last_name}}</p>
                <p class="u-info-item">item3</p>
            </div>
        </div>  
        <div admin-nav-item>
            <p add-employee-button class="button">add employee</p> 
            <p class="button"> view all assets </p>           
        </div>         
    </div>
    <div employer-data>
        <div employee-list>
            {% for employee in employees %}
            <div employee>
                <div employee-info>
                    <div employee-profile-picture>
                        <img src="/static/desktop.jpg"/>
                    </div>
                    <div class="user-info">
                        <div class="u-info">
                            <p class="u-info-item">{{ employee }}</p>
                            <p class="u-info-item">{{ employee.first_name}} {{employee.last_name}}</p>
                            <p class="u-info-item">Item3</p>
                        </div>
                    </div>  
                </div>
            </div>
            {% endfor %}
            
        </div>
        
    </div>
</div>

<div add-employee-form>
    <span close-btn>&times;</span>
    <h3> Create Employee</h3>
    <form create-employee-form>{% csrf_token %}
        <label for="email_address"> Email Address</label>
        <input class="create-employee-form" id="email_address" name="email_address" type="text" placeholder="Email Address" required/><br>
        <label for='first_name'>First Name:</label>
        <input class="create-employee-form" id="first_name" name="first_name" type="text" placeholder="First Name" required/><br>
        <label for='last_name'>Last Name:</label>
        <input class="create-employee-form" id="last_name" name="last_name" type="text" placeholder="Last Name" required/><br>
        <label for="raw_password"> Password </label>
        <input class="create-employee-form" id="raw_password" name="raw_password" type="text" placeholder="Password" required/></br>
        <label for="password1">Re-enter Password</label>
        <input class="create-employee-form" id="password1" name="password1" type="text" placeholder="Password Confirmation" required/><br>
        <input id="user" style="display: none" value="{{ user.id }}"/>
    </form>
    <div create-employee-button>
        <button class="button">Create Employee</button>
    </div>
</div>        



{% endblock %}