{% extends 'base.html' %}
{% block title %} Employee and Asset Management {% endblock %}
{% load static %}
{% block content %}

<!--nav bar-->
<div nav-bar>
    <div logo>
      <img src="/static/logo.png"/>
    </div>
    <div nav-bar-items>
      <p class="button" nav-bar-logout-button>Logout</p>
    </div>
</div>

<!-- eployer profile container -->
<div profile-container>
    <div admin-nav>
        <div class="p-picture">
            <img src="/static/desktop.jpg"/>
        </div>
        <div class="user-info">
            <div class="u-info">
                <p class="u-info-item">{{ user.email }}</p>
                <p class="u-info-item">{{user.first_name}} {{user.last_name}}</p>
                <p class="u-info-item">{{ user.employerprofile.position }}</p>
                <span style="display: none;" logged-in-user-id>{{user.id}}</span>
            </div>
        </div>  
        <div admin-nav-item>
            <p add-employee-button class="button">add employee</p> 
            <p view-all-assets-button class="button"> view all assets </p>           
        </div>         
    </div>
    <div employer-data>
        <div employee-list>
            {% for employee in employees %}
            <div employee>
                <div employee-info>
                    <div employee-profile-picture>
                        <img src="/static/desktop.jpg"/>
                    </div>
                    <div class="user-info">
                        <div class="u-info">
                            <p class="u-info-item">{{ employee }}</p>
                            <p class="u-info-item">{{ employee.first_name}} {{employee.last_name}}</p>
                            <p class="u-info-item">Item3</p>
                        </div>
                        <div employee-has-assets>
                            <span items-count></span>
                            <span items-list></span>
                        </div>
                    </div> 
                </div>
                <div view-more>
                    <button class="button" view-more-button>view more</button>
                    <span style="display: none" employee-id>{{employee.id}}</span>
                    {%csrf_token%}
                </div>
            </div>
            {% endfor %}
            
        </div>     
        
    </div>
</div>
<!-- add employee modal -->
<div class="signup-form" add-employee-form>
    <span class="close-btn">&times;</span>
    <h3> Create Employee</h3>
    <span id="error-message"></span>
    <form add-employee-form>{% csrf_token %}
        <label for="email_address"> Email Address</label>
        <input class="create-user-form" id="email_address" name="email_address" type="text" placeholder="Email Address" required/><br>
        <label for='first_name'>First Name:</label>
        <input class="create-user-form" id="first_name" name="first_name" type="text" placeholder="First Name" required/><br>
        <label for='last_name'>Last Name:</label>
        <input class="create-user-form" id="last_name" name="last_name" type="text" placeholder="Last Name" required/><br>
        <input id="user" style="display: none" value="{{ user.id }}"/>
    </form>
    <div submit-add-employee-button>
        <button class="button">Create Employee</button>
    </div>
</div> 
<!-- company assets modal--> 
<div assets-all-container>
    <span class="close-btn">&times;</span>
    <h3> Company Assets</h3>
    {% for asset in assets %}
    <div asset>
        <div class="p-picture">
            <img src="/static/mouse.jpg"/>
        </div>
        <div class="asset-info">
            <div class="u-info">
                <p class="u-info-item">info</p>
                <p class="u-info-item">item3</p>
            </div>
        </div>  

    </div>
    {% endfor %}
</div> 
<!--employee details modal-->
<div employee-details>
        <span class="close-btn">&times;</span>
        <div personal-details>
            <h3 id="title"> Details </h3>
            <p id="full-name"></p>
            <p id="email-address"></p>
            <p id="contact-number"></p>
            <p id="kra-pin"></p>
            <p id="date-of-birth"></p>
            <p id="id-number"></p>
            <p id="date-joined"></p>
        </div>
        
</div>   

<!-- login modal-->
<div login-container> 
    <div login-form>
        <form login>{% csrf_token %}
          <input type="text"  id="login" name="email_address" placeholder="Email Address">
          <input type="text" id="password" name="password" placeholder="Password">
        </form>
    </div>  
    <div class="login">
        <button class="button" login-button > Login </button>
        <button class="button" signup-button > signup </button>
    </div>   
</div>  

<!-- employer sign up modal -->
<div class="signup-form" employer-signup-form>
    <span class="close-btn">&times;</span>
    <h3> Sign up</h3>
    <span id="error-message"></span>
    <form signup-form>{% csrf_token %}
        <label for="email_address"> Email Address</label>
        <input class="create-user-form" id="email_address" name="email_address" type="text" placeholder="Email Address" required/><br>
        <label for='first_name'>First Name:</label>
        <input class="create-user-form" id="first_name" name="first_name" type="text" placeholder="First Name" required/><br>
        <label for='last_name'>Last Name:</label>
        <input class="create-user-form" id="last_name" name="last_name" type="text" placeholder="Last Name" required/><br>
        <label for="raw_password"> Password </label>
        <input class="create-user-form" id="raw_password" name="raw_password" type="text" placeholder="Password" required/></br>
        <label for="password1">Re-enter Password</label>
        <input class="create-user-form" id="password1" name="password1" type="text" placeholder="Password Confirmation" required/><br>
    </form>
    <div submit-add-employer-button>
        <button class="button">Sign up</button>
    </div>
</div> 



{% endblock %}