{% extends 'base.html' %}
{% block title %} Employee and Asset Management {% endblock %}
{% load static %}
{% block content %}

<div id="app" class="container-fluid" >
  <section sex-login>
    <div login-container> 
      <div login-form>
          <form login>{% csrf_token %}
            <input type="text"  id="login" name="email_address" placeholder="Email Address">
            <input type="text" id="password" name="password" placeholder="Password">
          </form>
      </div>  
      <div login-button>
          <button > Login </button>
      </div>   
      </div>
  </section>
</div>


{% endblock %}